header h2{
    color: #89949C;
}
.div-index img{
    padding-top: 10px;
}
@media screen and (max-width: 480px){
    .div-index img{
        max-width: 350px;
        max-height: 241px;
        width: auto;
        height: auto;
    }
}
@media screen and (min-width: 768px){
    .div-index img{
        max-width: 350px;
        max-height: 241px;
        width: auto;
        height: auto;
    }
footer h2{
    padding-top: 10px !important;
}    
}
footer h2{
    color: #89949C;
    padding-top: 20px;
}
.form-group label{
    color: #4e4e4e;
}
.div-resultado{
    margin-top:5%;
}
.p-resultado{
    font-size: 4em;
    color: #4e4e4e;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 5px;
}
.p-assinatura{
    margin-bottom: 0;
    color: #89949C;
}