.div-index h1{
    color: #89949C;
    margin: 20px auto;
    width: 95%;
}
.div-index img{
    width: 100%;
    padding-top: 30px;
}
.div-index h2{
    color: #89949C;
    padding-top: 30px;
}
.div-resultado{
    margin-top:20%;
}
.p-resultado{
    font-size: 4em;
    color: #FFFFFF;
    background-color: #5F9EA0;
    padding: 10px;
}
.p-assinatura{
    margin-bottom: 0;
    color: #89949C;
}